<template>
    <div class="text-center d-flex pb-4">
      <v-btn class="ma-2" @click="ouvrirTous">
        Ouvrir tous les panels
      </v-btn>
      <v-btn class="ma-2" @click="fermerTous">
        Fermer tous les panels
      </v-btn>
    </div>

    <v-expansion-panels v-model="panel" multiple>
        <v-expansion-panel title="Qu'est-ce qu'est LireCouleur ?" value="1">
            <v-expansion-panel-text>
                LireCouleur est un ensemble d’outils destiné à aider les lecteurs débutants ou en difficulté à <b>décoder les mots</b> en utilisant les principes de la <b>lecture en couleur</b>.
            </v-expansion-panel-text>
            <v-expansion-panel-text>
                Le principe de l’outil est de mettre en évidence les sons et les syllabes de différentes manières. L’utilisateur peut ainsi choisir la présentation qui lui convient le mieux pour simplifier et accélérer le décodage.
            </v-expansion-panel-text>
        </v-expansion-panel>

        <v-expansion-panel title="A qui cela s'adresse-t-il ?" value="2">
            <v-expansion-panel-text>
                Ces outils s'addressent à toute personne ayant des <b>difficultés à lire</b>. Elèves <b>dyslexiques</b>, personnes <b>apprenant le français</b> comme langue étrangère, ...
            </v-expansion-panel-text>
        </v-expansion-panel>

        <v-expansion-panel title="Vous voulez vous en servir ?" value="3">
            <v-expansion-panel-text> 
                Utilisable avec LibreOffice et OpenOffice. Il faut au préalable <!-- TODO --> télécharger et <!-- TODO -->installer un fichier afin de pouvoir l'utiliser. 
            </v-expansion-panel-text>
            <v-expansion-panel-text>
                Utilisable en <!-- TODO -->ligne sans installation.
            </v-expansion-panel-text>
        </v-expansion-panel>

        <v-expansion-panel title="Vous avez des questions ?" value="4">
            <v-expansion-panel-text>
                La sections <!-- TODO -->FAQ est disponible afin que vous puissiez poser vos questions et trouver vos réponses.
            </v-expansion-panel-text>
        </v-expansion-panel>

        <v-expansion-panel title="Vous avez un bug ?" value="5">
            <v-expansion-panel-text>
                Les cafards coincés dans votre ordinateur ne sont pas notre spécialité malheureusement...
            </v-expansion-panel-text>
            <v-expansion-panel-text>
                Plus sérieusement, si vous pensez avoir affaire à un bug dans l'un des outils proposés, nous vous invitons à nous le signaler. Pensez tout de même à vérifier avant dans la <!-- TODO -->FAQ ou dans le <!-- TODO -->manuel d'utilisation que vous utilisez les fonctionnalités correctement, l'intelligence artificielle ne nous a pas encore remplacé, nous devons faire les vérifications manuellement !
            </v-expansion-panel-text>
        </v-expansion-panel>

        <v-expansion-panel title="Suivre les actualités" value="6">
            <v-expansion-panel-text>
                Même s'il n'y paraît pas, nous travaillons régulièrement sur les outils proposés afin d'essayer de les améliorer en permanence. Vous pouvez ainsi voir les mises à jour que nous faisons au cours du temps.
            </v-expansion-panel-text>
        </v-expansion-panel>

        <v-expansion-panel title="Vous souhaitez contribuer au projet ?" value="7">
            <v-expansion-panel-text>
                Si la manière dont est géré le projet vous intéresse, nous vous invitons à aller voir notre <!-- TODO -->zone de travail. Si vous êtes un développeur et que vous voulez nous aider dans notre travail, que ce soit pour développer de nouvelles fonctionnalités ou faire la maintenance, n'hésitez pas à faire part de votre volonté !
            </v-expansion-panel-text>
            <v-expansion-panel-text>
                Si vous n'êtes pas développeur mais que vous voulez quand même contribuer, n'hésitez pas à nous <!-- TODO -->contacter pour nous proposer de nouvelles fonctionnalités à implémenter.
            </v-expansion-panel-text>
            <v-expansion-panel-text>
                Si vous voulez nous remercier ou nous encourager dans notre travail, n'hésitez pas à partager autour de vous ou à nous <!-- TODO -->faire un don si le coeur vous en dit.
            </v-expansion-panel-text>
        </v-expansion-panel>

        <v-expansion-panel title="Vous voulez rentrer en contact avec nous ?" value="8">
            <v-expansion-panel-text>
                Eh oui, ce projet n'est pas encore géré par des machines ! Si vous voulez découvrir qui se cache derrière ce projet, aller voir <a href="/contact">ici</a>.
            </v-expansion-panel-text>
            <v-expansion-panel-text>
                Et si vous n'êtes pas intéressés par qui nous sommes, mais que vous voulez quand même rentrer en contact avec nous, n'hésitez pas à nous <a :href="`mailto:${data.mail}`">envoyer un mail</a> !
            </v-expansion-panel-text>
        </v-expansion-panel>
    </v-expansion-panels>
  </template>

<script lang="ts">
import data from '@/assets/data.json'

const all = ["1", "2", "3", "4", "5", "6", "7", "8"]
export default {
  data () {
    return {
      panel: all,
      data
    }
  },
  methods: {
    ouvrirTous () {
      this.panel = all
    },
    fermerTous () {
      this.panel = []
    },
  },
}
</script>