<template>
    <v-tabs
        bg-color="primary"
        align-tabs="center">
        <v-tab to="/accueil">Accueil</v-tab>
        <v-tab to="/actualite">Actualité</v-tab>
        <v-tab to="/telechargement">Téléchargement</v-tab>
            <v-tab to="/manuel">Manuel utilisateur</v-tab>
        <v-tab to="/faq">FAQ</v-tab>
        <v-tab to="/bug">Signaler un bug</v-tab>
        <v-tab to="/contribuer">Contribuer au projet</v-tab>
        <v-tab to="/contact">Contact</v-tab>
    </v-tabs>
</template>

<script lang="ts" setup>
</script>